a {
  text-decoration: none;
  color: #007e9e; }
  a:hover, a:focus {
    text-decoration: underline; }

.inverse a {
  text-decoration: none;
  color: white; }

h1 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h1.inverse {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h2.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: white; }

h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.4em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h3.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3.4em;
  line-height: 1.1em;
  color: white; }

h4 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h4.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1.1em;
  color: white; }

.headline {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.headline.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.42857em;
  line-height: 1.1em;
  white-space: normal;
  color: rgba(0, 0, 0, 0.87); }

.title.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.42857em;
  line-height: 1.1em;
  white-space: normal;
  color: rgba(255, 255, 255, 0.87); }

.subhead {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.subhead.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body2.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body1.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.caption {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

.caption.inverse {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54); }

.menu {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.menu.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.button.inverse {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.link {
  text-decoration: none;
  color: rgba(0, 126, 158, 0.87); }

h1#toolbar-page-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

uqlibrary-holds::shadow uqlibrary-borrowing-list::shadow .date {
  padding-top: 20px; }

uqlibrary-fines::shadow uqlibrary-borrowing-list::shadow .title {
  padding-top: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1em;
  line-height: 1.1em;
  color: #7b0c9d; }
uqlibrary-fines::shadow uqlibrary-borrowing-list::shadow .content {
  margin-left: 64px; }

.container {
  padding: 40px;
  @apply (--layout-horizontal); }

.main {
  background-color: #FAFAFA;
  height: 100%; }

.attentionIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding-left: 16px;
  height: 32px;
  overflow: hidden;
  width: 100%; }
  .attentionIcon paper-icon {
    width: 24px;
    height: 24px; }

.flex {
  @apply (--layout-flex); }

paper-toolbar {
  --paper-toolbar-background: #4a075f;
  --paper-toolbar-color: rgba(255, 255, 255, 0.87); }

paper-toolbar iron-icon {
  color: #fff; }

paper-toolbar iron-icon:focus, paper-toolbar iron-icon:active, paper-toolbar iron-icon:hover {
  outline: 1px solid rgba(255, 255, 255, 0.26); }

paper-checkbox::shadow #checkbox.checked {
  border-color: #007e9e; }

paper-toast#infoToast {
  position: fixed;
  max-width: 280px;
  max-height: 48px; }

paper-item:hover, paper-item:focus, paper-item:active {
  background-color: #FAFAFA; }

paper-progress {
  height: 1.14286em;
  width: 100%; }

paper-progress::shadow #activeProgress {
  background-color: #38852e; }

paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); }

paper-tabs::shadow #selectionBar {
  background-color: #8db800; }

paper-tabs #finesTab {
  padding: 0 34px; }

paper-tabs paper-tab .tabTitleNumber {
  margin-bottom: 4px; }

paper-tabs paper-tab::shadow #ink {
  color: #8db800; }

paper-slider {
  width: 100%; }

paper-slider:focus {
  background-color: #F5F5F5 !important; }

paper-slider::shadow #sliderBar {
  box-sizing: content-box; }

paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #007e9e; }

paper-slider::shadow #sliderKnobInner {
  background-color: #007e9e;
  border: 2px solid #007e9e; }

paper-slider::shadow #sliderKnobInner::before {
  background-color: #007e9e;
  display: block !important; }

paper-slider#timePeriod {
  width: 50%; }

/*# sourceMappingURL=element.css.map */

/*# sourceMappingURL=uqlibrary-borrowing.css.map */
