@import "../../uqlibrary-elements/resources/theme/variables";
@import "../../uqlibrary-elements/resources/theme/margins";
@import "../../uqlibrary-elements/resources/theme/typography";

//   ____                               _
//  | __ )  ___  _ __ _ __ _____      ___)_ __   __ _
//  |  _ \ / _ \| '__| '__/ _ \ \ /\ / / | '_ \ / _` |
//  | |_) | (_) | |  | | | (_) \ V  V /| | | | | (_| |
//  |____/ \___/|_|  |_|  \___/ \_/\_/ |_|_| |_|\__, |
//                                              |___/
// UQ My Library Borrowing app

uqlibrary-holds {
  &::shadow {
    uqlibrary-borrowing-list {
      &::shadow {
        .date {
          padding-top: $three-line-list-item-padding-top;
        }
      }
    }
  }
}

uqlibrary-fines {
  &::shadow {
    uqlibrary-borrowing-list {
      &::shadow {
        .title {
          padding-top: $three-line-list-item-padding-top;
          @include gmd-type-style(body1, $primary);
        }
        // For fines with 3 digits we need a bit more space
        .content {
          margin-left: $three-line-list-icon-item-text-padding-left - $three-line-list-icon-item-icon-padding-left + 8;
        }
      }
    }
  }
}

.container {
  padding: 40px;
  @apply(--layout-horizontal);
}

.main {
  background-color:#FAFAFA;
  height:100%;
}

.attentionIcon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding-left: 16px;
  height: 32px;
  overflow: hidden;
  width: 100%;
  paper-icon {
    width: 24px;
    height: 24px;
  }
}

.flex {
  @apply(--layout-flex);
}

paper-toolbar {
  --paper-toolbar-background: #4a075f;
  --paper-toolbar-color: rgba(255, 255, 255, 0.87); }
paper-toolbar iron-icon {
  color: #fff; }
paper-toolbar iron-icon:focus, paper-toolbar iron-icon:active, paper-toolbar iron-icon:hover {
  outline: 1px solid rgba(255, 255, 255, 0.26); }

paper-checkbox::shadow #checkbox.checked {
  border-color: #007e9e; }

paper-toast#infoToast {
  position: fixed;
  max-width: 280px;
  max-height: 48px; }

paper-item:hover, paper-item:focus, paper-item:active {
  background-color: #FAFAFA; }

paper-progress {
  height: 1.14286em;
  width: 100%; }
paper-progress::shadow #activeProgress {
  background-color: #38852e; }

paper-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); }
paper-tabs::shadow #selectionBar {
  background-color: #8db800; }
paper-tabs #finesTab {
  padding: 0 34px; }
paper-tabs paper-tab .tabTitleNumber {
  margin-bottom: 4px; }
paper-tabs paper-tab::shadow #ink {
  color: #8db800; }

paper-slider {
  width: 100%; }
paper-slider:focus {
  background-color: #F5F5F5 !important; }
paper-slider::shadow #sliderBar {
  box-sizing: content-box; }
paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #007e9e; }
paper-slider::shadow #sliderKnobInner {
  background-color: #007e9e;
  border: 2px solid #007e9e; }
paper-slider::shadow #sliderKnobInner::before {
  background-color: #007e9e;
  display: block !important; }
paper-slider#timePeriod {
  width: 50%; }

/*# sourceMappingURL=element.css.map */
